body{
    height: 100vh;
    margin: 0%;
}

.start{
    height: 100vh;
    margin: 0%;
    background-size: cover;
    background-position: 100% 100%;
}

.principal{
    height: 100vh;
    margin: 0%;
    background-size: cover;
    background-position: 100% 100%;
}


